.navi_1_0_0_slider {
  position: relative;
  &__text {
    position: absolute;
    left: 15%;
    top: 15%;
    color: #fff;
    width: 30%;
  }
  &__head {
    font-size: 48px;
    margin-bottom: 30px;
    margin-top: 0;
  }
  &__action {
    margin-top: 30px;
  }
  &__btnPrimary {
    color: #fff;
    background-color: var(--primary-button);
    border-radius: 40px;
    padding: 8px 30px;
    transition: all 0.2s linear;
    &:hover {
      background-color: var(--second-button);
    }
  }
  &__btnSecond {
    color: var(--second-button);
    background-color: #fff;
    border-radius: 40px;
    padding: 8px 20px;
    transition: all 0.2s linear;
    margin-left: 10px;
    &:hover {
      background-color: var(--second-button);
      color: #fff;
    }
  }
  &__control {
    position: absolute;
    width: 150px;
    height: 20px;
    left: 15%;
    bottom: 30%;
  }
  .swiper-pagination{
    width: fit-content;
    bottom: unset;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 
  &__next, &__prev {
    width: 10px;
    z-index: 10;
    img{
      width: 100% !important;
      height: auto !important;
      display: block;
    }
    &::after{
      content: '';
    }
  }
  .swiper-pagination-bullet{
    background: #fff;
    opacity: 1;
    width: 10px;
    height: 10px;
    margin: 0 10px !important;
  }
  .swiper-pagination-bullet-active{
    background: transparent;
    border: 1px solid #fff;
    transform: scale(1.4);
  }
  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
  @media (max-width: 1180px) {
    &__text {
      width: 40%;
    }
  }
  @media (max-width: 960px) {
    &__head {
      font-size: 30px;
      margin-bottom: 13px;
      margin-top: 0;
    }
  }
  @media (max-width: 767px) {
    &__text{
        display: none;
        width: 100%;
    }
  }
}
