.navi_1_0_0_slider {
  position: relative;
}
.navi_1_0_0_slider__text {
  position: absolute;
  left: 15%;
  top: 15%;
  color: #fff;
  width: 30%;
}
.navi_1_0_0_slider__head {
  font-size: 48px;
  margin-bottom: 30px;
  margin-top: 0;
}
.navi_1_0_0_slider__action {
  margin-top: 30px;
}
.navi_1_0_0_slider__btnPrimary {
  color: #fff;
  background-color: var(--primary-button);
  border-radius: 40px;
  padding: 8px 30px;
  transition: all 0.2s linear;
}
.navi_1_0_0_slider__btnPrimary:hover {
  background-color: var(--second-button);
}
.navi_1_0_0_slider__btnSecond {
  color: var(--second-button);
  background-color: #fff;
  border-radius: 40px;
  padding: 8px 20px;
  transition: all 0.2s linear;
  margin-left: 10px;
}
.navi_1_0_0_slider__btnSecond:hover {
  background-color: var(--second-button);
  color: #fff;
}
.navi_1_0_0_slider__control {
  position: absolute;
  width: 150px;
  height: 20px;
  left: 15%;
  bottom: 30%;
}
.navi_1_0_0_slider .swiper-pagination {
  width: -moz-fit-content;
  width: fit-content;
  bottom: unset;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navi_1_0_0_slider__next, .navi_1_0_0_slider__prev {
  width: 10px;
  z-index: 10;
}
.navi_1_0_0_slider__next img, .navi_1_0_0_slider__prev img {
  width: 100% !important;
  height: auto !important;
  display: block;
}
.navi_1_0_0_slider__next::after, .navi_1_0_0_slider__prev::after {
  content: "";
}
.navi_1_0_0_slider .swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
  width: 10px;
  height: 10px;
  margin: 0 10px !important;
}
.navi_1_0_0_slider .swiper-pagination-bullet-active {
  background: transparent;
  border: 1px solid #fff;
  transform: scale(1.4);
}
.navi_1_0_0_slider img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1180px) {
  .navi_1_0_0_slider__text {
    width: 40%;
  }
}
@media (max-width: 960px) {
  .navi_1_0_0_slider__head {
    font-size: 30px;
    margin-bottom: 13px;
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .navi_1_0_0_slider__text {
    display: none;
    width: 100%;
  }
}