body {
  background-color: #F7F7F7;
}

.navi_1_0_0_intro {
  background-color: #F7F7F7;
  display: flex;
  align-items: center;
  min-height: 100vh;
  height: 100%;
}
.navi_1_0_0_intro__container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.navi_1_0_0_intro__head {
  font-size: 48px;
  width: 60%;
  color: #000000;
  margin-top: 40px;
  margin-bottom: 30px;
}
.navi_1_0_0_intro__choice {
  display: block;
  color: #333637;
  border-bottom: 1px solid #E2E5E7;
  padding: 10px 20px;
  text-transform: capitalize;
  font-size: 18px;
}
.navi_1_0_0_intro__choice:first-child {
  border-top: 1px solid #E2E5E7;
}
@media (max-width: 768px) {
  .navi_1_0_0_intro__head {
    width: 100%;
    font-size: 32px;
  }
}