.navi_1_0_0_history {
  background: url("../images/history-bg.jpg") no-repeat center;
  background-size: cover;
  padding: 40px 0;
  color: #fff;
}
.navi_1_0_0_history__inner {
  display: flex;
}
.navi_1_0_0_history__img {
  width: 40%;
}
.navi_1_0_0_history__img img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  box-shadow: 10px 4px 35.4px 0px rgba(0, 0, 0, 0.1215686275);
}
.navi_1_0_0_history__content {
  width: 60%;
  padding-left: 80px;
}
.navi_1_0_0_history__sub {
  color: #005284;
  margin-bottom: 10px;
}
.navi_1_0_0_history__title {
  color: #333637;
  font-size: 40px;
  margin-bottom: 20px;
}